@font-face {
  font-family: 'fx';
  src: url('neteasemusic.eot');
}
.t-player-masterboard {
  position: fixed;
  max-height: 80px;
  width: 100%;
  bottom: 0px;
  opacity: 0.95;
}

.t-player-body-panel {
  width: 80%;
  margin: 0 auto;
}

.t-player-processbar {
  width: 0;
  height: 2px;
  background: red;
}
.t-player-left-panel, .t-player-right-panel {
  padding: 3% 0;
}

.t-player-left-panel {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.t-player-left-panel > * {
  margin-right: 5px;
}

.t-player-left-panel > .t-player-song {
  white-space: nowrap;
}


.t-player-right-panel {
  float: right;
}

.white {
  background-color: #fafafa;
}
