@font-face {
  font-family: 'fx';
  src: url('../fonts/neteasemusic.woff');
}
.t-player-masterboard {
  position: fixed;
  max-height: 80px;
  width: 100%;
  bottom: 0px;
  opacity: 0.95;
}

.t-player-body-panel {
  width: 80%;
  margin: 0 auto;
}

.t-player-processbar {
  width: 0;
  height: 2px;
  background: red;
}
.t-player-left-panel, .t-player-right-panel {
  padding: 3% 0;
}

.t-player-left-panel {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  max-width: 80%;
}

.t-player-left-panel > * {
  margin-right: 5px;
  display: inline-block;
}

.t-player-left-panel > .t-player-song {
  white-space: nowrap;
  width: 20%;
}


.t-player-right-panel {
  float: right;
}

.white {
  background-color: #fafafa;
}

.t-player-controlboard {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.t-player-controlboard > li {
  display: inline;
}

.t-player-prev,
.t-player-next,
.t-player-pause,
.t-player-start {
  font-family: 'fx';
  font-size: 16px;
  color: #3E1E14;
}

.t-player-prev:before {
  content: '\e603';
}

.t-player-next:before {
  content: '\e600';
}

.t-player-pause:before {
  content: '\e601';
}

.t-player-start:before {
  content: '\e602';
}

.t-player-lrc-panel {
  list-style: none;
  padding-left: 0px;
  border: 1px solid #EEEBBF;
}

.t-player-lrc-panel > .highlight {
  color: red;
}

.t-player-lrc-panel > li {
  color: black;
}

.t-player-song-lrc {
  width: 70%;
}